.miniheader {
  justify-content: space-around;
  color: var(--text-color);
  padding: 0.5rem;
}

.miniheader h1 {
  font-size: var(--heading-6);
}

.miniheader h1,
.list li {
  display: flex;
  justify-content: center;
}

.linkactive {
  color: black;
  font-weight: var(--bold);
}

.list {
  display: flex;
  gap: 2rem;
}

.list li {
  font-size: var(--text-xs);
}

.list li:hover {
  color: var(--primary-color);
}

.navbar h2,
.navicons li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.navicons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navbar {
  justify-content: space-around;
  background-color: var(--background-color-1);
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  gap: 0.2rem;
}

.footermain {
  padding: 1.9rem;
  color: var(--background-color-1);
}

.hamburger span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: black;
}

.stars {
  color: var(--primary-color);
}

.inputcontainer {
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  width: 200px;
}

.searchinput {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0.14rem solid var(--background-color);
  padding: 0.7rem 2.5rem;
  color: var(--text-color);
  width: 100%;
  border-radius: 0.4rem;
}

.searchbutton {
  position: absolute;
  left: 4%;
  top: 12px;
  color: var(--text-color);
}

.searchcontainer button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.2rem;
  color: var(--background-color);
  box-shadow: 0.1px 0.5px 0.9px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
}

.newsletter {
  position: relative;
  top: 0;
  right: 0;
}

.email {
  position: absolute;
  top: 10px;
  left: 1%;
}

.newsletter input {
  padding: 0.8rem;
  padding-inline-start: 1.5rem;
  border: 0.1rem  solid var(--background-color-1);
  border-radius: 0.3rem;
}

.footerform{
  display: flex;
  flex-direction: column;
}

.footerform > div > button {
  padding: 0.8rem;
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  background-color: transparent;
  color: var(--background-color-1);
}

.appstar{
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.footermain {
  background-color: var(--footer-color-1);
  padding: 1rem;
}

.footermain h3,
.freeapp h4,
.footerlinks h5 {
  font-size: 0.7rem;
}

.appstore {
  margin-top: 0.2rem;
}

.playstore {
 border: 0.1rem solid var(--background-color-1);
 padding: 0.1rem;
 border-radius: 0.3rem;
}

.freeapp{
  padding-inline-start: 0rem;
}

.footermain p,
.footerlinks p,
.freeapp p {
  font-size: var(--text-xs);
  font-size: 0.8rem;
  font-family: 'Bacasime Antique' sans-serif;
}

.footerlinks {
  grid-template-columns: repeat(1, 1fr);
  align-self: flex-start;
  padding-block: 2rem; 
  background-color: var(--footer-color-2);
  color: var(--background-color-1);
}

.smallfont {
  font-size: 0.5rem;
}

.playstore span{
  font-size: 0.7rem;
}

.firstlinks ul:last-child {
  margin-top: 1rem;
}

.socialpayments {
  background-color: var(--footer-color-2);
  grid-template-columns: repeat(2, 1fr);
  color: var(--background-color-1);
  border-bottom: 0.1rem solid #9c9c9e;
}


.socialmedia,
.footerlinks  {
  padding-inline-start: 1rem;
}

.logistics {
  width: 100%;
}

@media (min-width: 768px) {
  .inputcontainer {
    width: 450px;
  }

  .footermain {
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--footer-color-1);
    padding: 1rem;
  }

  .footermain > div > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerlinks {
    padding-block: 2rem; 
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--footer-color-2);
    color: var(--background-color-1);
  }

  .freeapp{
    padding-inline-start: 3.5rem;
  }
}
